<@charset "utf-8";>
.container {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.left-column {
  flex: 1;
  background: lightblue;
}

.center-column {
  flex: 1;
  background: lightyellow;
}

.right-column {
  flex: 1;
  background: lightpink;
}
